.container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.table-container {
  height: 60vh; /* Set a fixed height of 50% of the viewport height */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}


/* Define the custom-table class for styling */
#custom-table {
  width: 75%; /* Set the table width to 75% of its container */
  border-collapse: collapse; /* Optional: Collapse borders between table cells */
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
    overflow-x: hidden;
}

.empvsdiv{
    overflow-x: hidden;
}