
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div class="container">
    <div class="advance">
        <div class="customerProfile">
            <div class="backgroundcolor">
                <div class="panel-heading">
                    <h2 class="panel-title" style="color:#fff;display: flex;text-align: center;justify-content: center;font-family: 'Times New Roman', Times, serif;">
                        Non-Billable Jobs
                    </h2>
                </div>

                <div class="pricingcalculation">
                    <form [formGroup]="empForm" >
                        <div class="container1">
                            <div class="row">
                                <div class="col">
                                    <mat-form-field appearance="outline">
                                        <mat-label>From Date</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="fromdate">
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field appearance="outline">
                                        <mat-label>To Date</mat-label>
                                        <input matInput [matDatepicker]="picker1" formControlName="todate">
                                        <mat-hint>MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field>
                                            <mat-label>Customer</mat-label>
                                            <mat-select ngDefaultControl formControlName="customer" [(value)]="selectedcustomerOption">
                                                <mat-option *ngFor="let customerdropdownvalues of Customerdropdownvalues"
                                                    [value]="customerdropdownvalues.id">
                                                    {{!customerdropdownvalues.shortName ? "NUll" : customerdropdownvalues.shortName }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col">
                                        <mat-form-field>
                                            <mat-label>Department</mat-label>
                                            <mat-select formControlName="department">
                                                <mat-option value="0">All</mat-option>
                                                <mat-option value="1">Artwork</mat-option>
                                                <mat-option value="2">Digitizing</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="buttongo" style="text-align: center;">
                                    <button class="btn"  mat-raised-button color="primary" (click)="onGoButtonClick()">GO</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="table-container">

                    <table class="table table-sm table-responsive" id="custom-table" mat-table
                        [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="selected">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <div class="header-wrapper">
                                    <div class="department-name text-start">Select </div>
                                    <div class="filter-input">
                                        <input matInput (keyup)="employeeFilter($event)" placeholder="Filter"
                                            #input>
                                    </div>
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element"> <mat-checkbox
                                    (change)="setAll($event.checked,element)"></mat-checkbox> </td>
                        </ng-container>
                        <ng-container matColumnDef="jobid">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <div class="header-wrapper">
                                    <div class="department-name text-start">Job Id</div>
                                    <div class="filter-input">
                                        <input matInput (keyup)="employeeFilter($event)" placeholder="Filter"
                                            #input>
                                    </div>
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">{{element.jobId}}</td>
                        </ng-container>
                        <ng-container matColumnDef="jobdate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <div class="header-wrapper">
                                    <div class="department-name text-start">Job Date</div>
                                    <div class="filter-input">
                                        <input matInput (keyup)="employeeFilter($event)" placeholder="Filter"
                                            #input>
                                    </div>
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">{{element.jobDate}}</td>
                        </ng-container>

                        <ng-container matColumnDef="filename">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <div class="header-wrapper">
                                    <div class="department-name text-start">File Name</div>
                                    <div class="filter-input">
                                        <input matInput (keyup)="employeeFilter($event)" placeholder="Filter"
                                            #input>
                                    </div>
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">{{element.fileName}}</td>
                        </ng-container>
                        
                        <ng-container matColumnDef="department">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <div class="header-wrapper">
                                    <div class="department-name text-start">Department</div>
                                    <div class="filter-input">
                                        <input matInput (keyup)="employeeFilter($event)" placeholder="Filter"
                                            #input>
                                    </div>
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">{{element.department}}</td>
                        </ng-container>
                        <ng-container matColumnDef="jobstatus">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <div class="header-wrapper">
                                    <div class="department-name text-start">Job Status</div>
                                    <div class="filter-input">
                                        <input matInput (keyup)="employeeFilter($event)" placeholder="Filter"
                                            #input>
                                    </div>
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">{{element.jobStatus}}</td>
                        </ng-container>
                        <ng-container matColumnDef="customer">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <div class="header-wrapper">
                                    <div class="department-name text-start">Customer</div>
                                    <div class="filter-input">
                                        <input matInput (keyup)="employeeFilter($event)" placeholder="Filter"
                                            #input>
                                    </div>
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">{{element.customer}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Scope">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <div class="header-wrapper">
                                    <div class="department-name text-start">Scope</div>
                                    <div class="filter-input">
                                        <input matInput (keyup)="employeeFilter($event)" placeholder="Filter"
                                            #input>
                                    </div>
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">{{element.scope}}</td>
                        </ng-container>
                        <ng-container matColumnDef="stitchcount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <div class="header-wrapper">
                                    <div class="department-name text-start">Stitch Count</div>
                                    <div class="filter-input">
                                        <input matInput (keyup)="employeeFilter($event)" placeholder="Filter"
                                            #input>
                                    </div>
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">{{element.stitchCount}}</td>
                        </ng-container>
                        <ng-container matColumnDef="nonbillablestatus">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <div class="header-wrapper">
                                    <div class="department-name text-start">NonBillable Status</div>
                                    <div class="filter-input">
                                        <input matInput (keyup)="employeeFilter($event)" placeholder="Filter"
                                            #input>
                                    </div>
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">{{element.nonBillableStatus}}</td>
                        </ng-container>
          
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[25, 50]" showFirstLastButtons></mat-paginator>
            </div>
            <div class="nonbillable" *ngIf="shownonbillable">
                <mat-form-field>
                    <mat-label>Non Billable Status</mat-label>
                    <mat-select ngDefaultControl 
                        [(value)]="selectednonbillableOption">
                        <mat-option *ngFor="let nonbillabledropdown of Nonbillabledropdownvalues"
                            [value]="nonbillabledropdown.id">
                            {{ nonbillabledropdown.description }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
               
        <div class="matbuttonaign">
            <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>&nbsp;&nbsp;<button type="submit" class="btn btn-primary" (click)="submitnonbillable()">Submit</button>
        </div>
        </div>
    </div>

</div>
</body>
</html>


