<div class="main-body">
    <div class="container">
        <div class="mat-elevation-z8">
            <button (click)="openqualitypop()"> Popup</button>
            <table mat-table [dataSource]="dataSource" matSort class="table table-sm">
                <!--Checkbox to select the values-->
                <ng-container matColumnDef="selected">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Select </th>
                    <td mat-cell *matCellDef="let element"> <mat-checkbox
                            (change)="setAll($event.checked,element)"></mat-checkbox> </td>

                </ng-container>
                <!-- Job ID Column -->
                <ng-container matColumnDef="jobId">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Job ID </th>
                    <td mat-cell *matCellDef="let job"> {{ job.jobId }} </td>
                </ng-container>

                <!-- Job Name Column -->
                <ng-container matColumnDef="estjob">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> EST Job/Query Date </th>
                    <td mat-cell *matCellDef="let job"> <a (click)="openqualitypop()">{{ job.allocattedDate }}</a> </td>
                </ng-container>
                <!-- Client Column -->
                <ng-container matColumnDef="action">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let job"> {{ job.action }} </td>
                </ng-container>
                <ng-container matColumnDef="client">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Client </th>
                    <td mat-cell *matCellDef="let job"> {{ job.client }} </td>
                </ng-container>
                <!-- Customer Satisfaction Column -->
                <ng-container matColumnDef="customerSatisfaction">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Customer Satisfaction </th>
                    <td mat-cell *matCellDef="let job"> {{ job.customerSatisfaction }} </td>
                </ng-container>
                <!-- File Name Column -->
                <ng-container matColumnDef="fileName">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> File Name </th>
                    <td mat-cell *matCellDef="let job"> {{ job.fileName }} </td>
                </ng-container>
                <!-- File Inward Mode Column -->
                <ng-container matColumnDef="fileInwardMode">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> File Inward Mode </th>
                    <td mat-cell *matCellDef="let job"> {{ job.fileInwardMode }} </td>
                </ng-container>
                <ng-container matColumnDef="scope">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Scope </th>
                    <td mat-cell *matCellDef="let job"> {{ job.scope }} </td>
                </ng-container>
                <ng-container matColumnDef="jobstatus">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Job Staus </th>
                    <td mat-cell *matCellDef="let job"> {{ job.jobstatus }} </td>
                </ng-container>
                <ng-container matColumnDef="projectcode">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> ProjectCode </th>
                    <td mat-cell *matCellDef="let job"> {{ job.projectcode }} </td>
                </ng-container>
                <ng-container matColumnDef="allocatedby">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> AllocatedBy </th>
                    <td mat-cell *matCellDef="let job"> {{ job.allocatedby }} </td>
                </ng-container>
                <ng-container matColumnDef="processstatus">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> ProcessStatus </th>
                    <td mat-cell *matCellDef="let job"> {{ job.processstatus }} </td>
                </ng-container>
              
                <ng-container matColumnDef="esttime">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> EstTime </th>
                    <td mat-cell *matCellDef="let job"> {{ job.esttime }} </td>
                </ng-container>
                <ng-container matColumnDef="jobcategeory">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> JobCategory </th>
                    <td mat-cell *matCellDef="let job"> {{ job.jobcategeory }} </td>
                </ng-container>
                <ng-container matColumnDef="deliverydate">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> DeliveryDate </th>
                    <td mat-cell *matCellDef="let job"> {{ job.deliverydate }} </td>
                </ng-container>
                <!-- Table Header -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                <!-- Table Rows -->
                <tr mat-row *matRowDef="let job; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div class="scope" style="float: right;">
            <mat-form-field>
                <mat-label>Scope</mat-label>
                <mat-select>
                  <mat-option *ngFor="let item of ScopeApiData" [value]="item.id">
                    {{ item.scope }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
        </div>
    </div>
</div>