.division{
    display: flex;
    justify-content: center;
}

.filecount{
    width: 50%;
}

.actionicon:hover {
cursor: pointer;
}

  .mat-mdc-paginator {
    display: block;
    width: 85vw;
}
.mat-elevation-z8{
overflow-x: auto;
}