<div class="container">
  <div class="advance">
    <div class="customerProfile">
      <div class="backgroundcolor">
        <div class="panel-heading">
          <h2 class="panel-title" style="text-align: center;font-family: 'Times New Roman', Times, serif;color:#ffffff">
            Invoice Cancelled Details
          </h2>
        </div>

        <div class="table-container">
          <table mat-table class="table table-sm table-responsive" id="custom-table" [dataSource]="dataSource" matSort
            matTableFilter class="mat-elevation-z8">

            <!-- CancellationNo Column -->
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
              <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
            </ng-container>

            <!-- InvoiceNo Column -->
            <ng-container matColumnDef="rate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Rate </th>
              <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
            </ng-container>

            <!-- CancelledDate Column -->
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Value </th>
              <td mat-cell *matCellDef="let element"> {{element.value}} </td>
            </ng-container>

            <!-- CancelledBy Column -->
            <ng-container matColumnDef="pricingtype">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> PricingType </th>
              <td mat-cell *matCellDef="let element"> {{element.pricingType}} </td>
            </ng-container>

            <!-- ProductValue Column -->
            <ng-container matColumnDef="scope">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Scope </th>
              <td mat-cell *matCellDef="let element"> {{element.scope}} </td>
            </ng-container>

            <!-- Wavier Column -->
            <ng-container matColumnDef="department">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
              <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
            </ng-container>
            <ng-container matColumnDef="invoicenumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> InvoiceNumber </th>
              <td mat-cell *matCellDef="let element"> {{element.invoiceNo}} </td>
            </ng-container>
            <ng-container matColumnDef="invoicedate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> invoiceDate </th>
              <td mat-cell *matCellDef="let element"> {{element.invoiceDate}} </td>
            </ng-container>



            <!-- Column definitions -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[25, 50,150]" showFirstLastButtons></mat-paginator>

      </div>
    </div>
  </div>
</div>