.card-body{
    background-image: linear-gradient(to bottom,#5cadd6 0,#1e86ba 100%);
}
.small-input {
    width: 100%;
    max-width: 200px; /* Adjust the maximum width as per your requirement */
  }

  .small-mat-label {
    font-size: 12px; /* Adjust the font size as per your preference */
  }
  mat-form-field{
    width: 380px;
    height: 70px;
  }