<div class="container">
    <div class="card">
      <h3>Employee - Job Assigned Details</h3>
    </div>
</div>
<div class="row">
  <div class="col-md-6 text-start">Employee : {{data.employeeName}} ({{totalDataCount}})</div>
  <div class="col-md-6 text-end">Total Load Time : 51</div>
</div>
<div>
  <table mat-table [dataSource]="dataSource" matSort
            class="table table-sm  table-responsive table table-bordered text-center">
            <!--Checkbox to select the values-->
            <ng-container matColumnDef="sno">
              <th mat-sort-header mat-header-cell *matHeaderCellDef> S.No </th>
              <!-- <li *ngFor="let item of items; let i = index">
                Index: {{ i }}, Value: {{ item }}
              </li> -->
               <td mat-cell *matCellDef="let job let i = index">
                {{ i+1 }}</td>

            </ng-container>
            <!-- Job ID Column -->
            <ng-container matColumnDef="jobId">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>Job ID </th>
              <td mat-cell *matCellDef="let job">
                {{ job.jobId }} </td>
            </ng-container>
            <ng-container matColumnDef="client">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>Client </th>
              <td mat-cell *matCellDef="let job"> {{ job.shortName }} </td>
            </ng-container>

            <!-- Job Name Column -->
            <ng-container matColumnDef="assignDate">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>Assigned Date </th>
              <td mat-cell *matCellDef="let job"> {{ job.allocattedDate }} </td>
            </ng-container>
            <!-- Client Column -->
            <ng-container matColumnDef="fileName">
              <th mat-sort-header mat-header-cell *matHeaderCellDef>File Name </th>
              <td mat-cell *matCellDef="let job"> {{ job.fileName }} </td>
            </ng-container>
            <!-- Customer Satisfaction Column -->
            <ng-container matColumnDef="tray">
              <th mat-sort-header mat-header-cell *matHeaderCellDef> Tray </th>
              <td mat-cell *matCellDef="let job"> {{ job.process }} </td>
            </ng-container>
            <!-- File Name Column -->
            <ng-container matColumnDef="estTime">
              <th mat-sort-header mat-header-cell *matHeaderCellDef> Estimated Time</th>
              <td mat-cell *matCellDef="let job"> {{ job.estimatedTime }} </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-sort-header mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let job"> {{ job.status }} </td>
            </ng-container>
            <!-- <ng-container matColumnDef="deliverydate">
              <th mat-sort-header mat-header-cell *matHeaderCellDef> DeliveryDate </th>
              <td mat-cell *matCellDef="let job"> {{ job.dateofDelivery }} </td>
            </ng-container> -->
            <!-- Table Header -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <!-- Table Rows -->
            <tr mat-row *matRowDef="let job; columns: displayedColumns;"></tr>
          </table>
</div>
