<div class="container">
    <div class="jobdetails">

        <div class="jobdetails">
            <div class="row">
                <div class="col">
                   <p> Job Id: &nbsp;&nbsp;{{data.jobId}}</p>
                </div>
                <div class="col">
                <p>Client Name:&nbsp;&nbsp;{{data.shortName}}</p>
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <p>File Received Date:&nbsp;&nbsp;{{data.estfileReceivedDate}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>File Name :&nbsp;&nbsp;{{data.fileName}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Job Description :&nbsp;&nbsp; {{data.jobStatusDescription}}</p>
                </div>
                <div class="col">
                    <p>File Inward Mode :&nbsp;&nbsp; {{data.fileInwardType}}</p>
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <p>Work File Folder : &nbsp;&nbsp;&nbsp;  <button>WorkFiles</button><button>Zip</button><button>CopyPath</button></p>
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <p>Input File Folder : </p>
                </div>
            </div>
        </div>
      
    </div>
  </div>