// .loginbox{
//     padding-left: 433px;
//     padding-top: 35px;
// }

body{
    background-image: linear-gradient(135deg, rgba(6,65,96,1) 0%, rgba(57,116,147,1) 34%, rgba(6,65,96,1) 51%, rgba(8,81,120,1) 71%, rgba(57,116,147,1) 100%);
    background-size: cover;
     height:100vh;
}


.bodypic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.loginbox {
 
    padding: 20px;
    border-radius: 5px;
}

.btn-primary {
    color: #fff;
    background-color: #4986e0cc;
    border-color: #4077ca;
    width: 208px;
}