body {
    min-height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, rgba(6, 65, 96, 1) 0%, rgba(57, 116, 147, 1) 34%, rgba(6, 65, 96, 1) 51%, rgba(8, 81, 120, 1) 71%, rgba(57, 116, 147, 1) 100%);
    background-size: cover;
    height: 100vh;
    margin: 0; /* Remove default margin for body */
  }




.btn-primary {
    color: #fff;
    background-color: #4986e0cc;
    border-color: #4077ca;
    width: 208px;
}
.slide-left {
    transform: translateX(-100%);
    transition: transform 300ms ease-out;
  }
  
  .container { 
     display: grid;
     display: grid;
     width: 16vw;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr;
     gap: 0px 0px;
     grid-auto-flow: row;
     grid-template-areas: ".";
  }
  
  