<div class="parentdashboard">
    <div class="dashboard">
      <mat-grid-list cols="3" rowHeight="100px" gutterSize="16px">
        <a routerLink="/index">
          <mat-grid-tile class="ClientCoordination">
            <!-- first card component goes here -->
            ClientCoordination
          </mat-grid-tile>
        </a>
  
        <a routerLink="/index">
          <mat-grid-tile class=" ProductionAllocation">
            <!-- second card component goes here -->
            Production Allocation
          </mat-grid-tile>
        </a>
  
  
        <a routerLink="/index">
          <mat-grid-tile class=" Production">
            <!-- third card component goes here -->
            Production
          </mat-grid-tile>
        </a>
      </mat-grid-list>
  
  
      <br>
  
      <mat-grid-list cols="3" rowHeight="100px" gutterSize="16px">
        <a routerLink="/index">
          <mat-grid-tile class="QualityAllocation">
            <!-- first card component goes here -->
            Quality Allocation
          </mat-grid-tile>
        </a>
  
        <a routerLink="/index">
          <mat-grid-tile class="quality">
            <!-- second card component goes here -->
            Quality
          </mat-grid-tile>
        </a>
  
        <a routerLink="/index">
          <mat-grid-tile class=" ProofReadingAllocation">
            <!-- third card component goes here -->
            Proof Reading Allocation
          </mat-grid-tile>
        </a>
      </mat-grid-list>
      <br>
      <mat-grid-list cols="3" rowHeight="100px" gutterSize="16px">
        <a routerLink="/index">
          <mat-grid-tile class="ProofReading">
            <!-- first card component goes here -->
            Proof Reading
          </mat-grid-tile>
        </a>
        <a routerLink="/index">
          <mat-grid-tile class="BuddyProof">
            <!-- second card component goes here -->
            Buddy Proof
          </mat-grid-tile>
        </a>
  
        <a routerLink="/index">
          <mat-grid-tile class="SewOut">
            <!-- third card component goes here -->
            Sew Out
          </mat-grid-tile>
        </a>
      </mat-grid-list>
      <br>
  
  
      <mat-grid-list cols="1" rowHeight="100px" class="Reports" gutterSize="16px">
        <a routerLink="/index">
          <mat-grid-tile class="Reportstitle">
            <!-- first card component goes here -->
            Reports
          </mat-grid-tile>
        </a>
      </mat-grid-list>
    </div>
  </div>