.dashboard {
    border: 1px solid black;
    width: 62VW;
    padding: 2rem;
}
.parentdashboard{
    margin: auto;
    justify-content: center;
    width: 781px;
    display: grid;
    place-items: center;
}

mat-grid-tile {
    background: lightblue;
}

.ClientCoordination {
    width: 300px;
    height: 200px;
    background-color: #03d9ff;
    transition: background-color 0.5s ease;
}

.card.hovered {
    background-color: #8b8b8b;
}

.Reports {
    left: 0px;
    width: 221px;
    top: 0px;
    height: calc(100px);
}
.ClientCoordination:hover{
    background-color: #8b8b8b;
}
a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color:white;
}

.ProductionAllocation{

    background-color: #f549ad;
    transition: background-color 0.5s ease;
  
}
.ProductionAllocation:hover{
    background-color: #8b8b8b;
}
.Production{

    background-color: rgba(48, 138, 25, 0.827);
    transition: background-color 0.5s ease;
  
}
.Production:hover{
    background-color: #8b8b8b;
}
.QualityAllocation{

    background-color: rgba(16, 80, 0, 0.827);
    transition: background-color 0.5s ease;
  
}
.QualityAllocation:hover{
    background-color: #8b8b8b;
}
.quality{

    background-color: rgba(252, 136, 27, 0.827);
    transition: background-color 0.5s ease;
  
}
.quality:hover{
    background-color: #8b8b8b;
}
.ProofReadingAllocation{

    background-color: rgba(0, 102, 255, 0.827);
    transition: background-color 0.5s ease;
  
}
.ProofReadingAllocation:hover{
    background-color: #8b8b8b;
}
.ProofReading{

    background-color: rgb(167, 67, 0);
    transition: background-color 0.5s ease;
  
}
.ProofReading:hover{
    background-color: #8b8b8b;
}
.BuddyProof{

    background-color: rgb(0, 104, 52);
    transition: background-color 0.5s ease;
  
}
.BuddyProof:hover{
    background-color: #8b8b8b;
}
.SewOut{

    background-color: rgb(112, 2, 255);
    transition: background-color 0.5s ease;
  
}
.SewOut:hover{
    background-color: #8b8b8b;
}
.Reportstitle{

    background-color: rgba(167, 155, 0, 0.911);
    transition: background-color 0.5s ease;
  
}
.Reportstitle:hover{
    background-color: #8b8b8b;
}

///////////////////Demo////////////////////////////////
.myProcess-color-0 {
    background-color: #4793ac;
}

.myProcess-color-1 {
    /*background-color: rgb(0,73,84);*/
    background-color: mediumvioletred;
}

.myProcess-color-2 {
    background-color: seagreen;
}

.myProcess-color-3 {
    background-color: forestgreen;
}

.myProcess-color-4 {
    background-color: orangered;
}

.myProcess-color-5 {
    background-color: cornflowerblue;
}

.myProcess-color-6 {
    background-color: rgb(188,101,41);
}

.myProcess-color-7 {
    background-color: rgb(0,177,81);
}
.myProcess-color-8
{
    background-color: #61619e;
}
.myProcess-color-9
{
    background-color: orange;
}

.myProcess-color-0, .myProcess-color-1, .myProcess-color-2, .myProcess-color-3, .myProcess-color-4, .myProcess-color-5, .myProcess-color-6, .myProcess-color-7,.myProcess-color-8,.myProcess-color-9 {
    padding: 20px;
    text-align: center;
    margin: 20px;
    color: white;
    cursor: pointer;
}

    .myProcess-color-0:hover, .myProcess-color-1:hover, .myProcess-color-2:hover, .myProcess-color-3:hover, .myProcess-color-4:hover, .myProcess-color-5:hover, .myProcess-color-6:hover, .myProcess-color-7:hover,.myProcess-color-8:hover,.myProcess-color-9:hover {
        background-color: grey;
    }

.myProcess {
    width: 70px;
    height: 40px;
    cursor: pointer;
    padding: 0px 15px;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
