<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="height: 130vh;">
  <div class="col-xs-8">
    <div *ngFor="let process of employeeProcess; let i = index" class="col-xs-4">
      <div (click)="gotoProcess(process)" [ngClass]="{
        'myProcess-color-0': (i === 0),
        'myProcess-color-1': (i === 1),
        'myProcess-color-2': (i === 2),
        'myProcess-color-3': (i === 3),
        'myProcess-color-4': (i === 4),
        'myProcess-color-5': (i === 5),
        'myProcess-color-6': (i === 6),
        'myProcess-color-7': (i === 7),
        'myProcess-color-8': (i === 8),
        'myProcess-color-9': (i === 9)
      }">
        <div style="display: table; width: 100%">
          <div style="display: table-cell; vertical-align: middle; height: 50px;">
            {{ process.Name }}
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>