<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="extensions/resizable/bootstrap-table-resizable.js"></script>
</head>

<body style="height: 100vh;">
    <div class="main-body">
        <div class="container">
            <div class="productionmain">
                <h1 style="font-family:'Times New Roman', Times, serif;color:#43958e">Proof Reading (0)</h1>
                <button (click)="openproofdetailpop()"> ProofDetails</button>&nbsp;&nbsp;<button (click)="openproofworkflowpop()">ProofWorkflow</button>
                <div layout="row" layout-align="center center">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="Both"> Both</mat-radio-button>
                        <mat-radio-button value="Artwork">Artwork </mat-radio-button>
                        <mat-radio-button value="Digitizing">Digitizing </mat-radio-button>
                      </mat-radio-group>
                  </div>
                  
             
                <mat-tab-group dynamicHeight (selectedTabChange)="onTabChange($event)">
                    <mat-tab label="Fresh Jobs ()">
                    </mat-tab>
                    <mat-tab label="Revision Jobs ()">
                    </mat-tab>
                    <mat-tab label="Rework Jobs ()">
                    </mat-tab>
                    <mat-tab label="Quote Jobs()">
                    </mat-tab>
                    <mat-tab label="Bulk Jobs()">
                    </mat-tab>
                    <mat-tab label="Bulk Upload Jobs()">
                    </mat-tab>
                </mat-tab-group>


                <div>
                    <app-proof-reading-table></app-proof-reading-table>

                </div>
            </div>
        </div>
    </div>
</body>

</html>