.example-spacer {
    flex: 1 1 auto;
  }
  .addemployee{
    padding-left: 10px;
  }
  .main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1348px;
    mat-form-field {
      width: 40%;
    }
  }
  
  .action {
    display: flex;
    gap: 5px;
  }
  
  .container {
    // display: grid; 
    grid-template-columns: 0.1fr 6.3fr 0.1fr; 
    grid-template-rows: 0.1fr 1.8fr 1.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . ."
      ". formgroup ."
      ". . ."; 
  }
  .formgroup { grid-area: formgroup; }

  .exchangeheader{
    width: 20px;;
  }

  .mat-elevation-z8{
    overflow-x: scroll;
  }
  .clickable-link {
    cursor: pointer;
  }
  // #custom-table {
  //   height: 30vh; /* Set the table height to 50% of its container */
  //   width: 75%; /* Set the table width to 75% of its container */
  //   margin: 0 auto; /* Center the table horizontally */
  //   border-collapse: collapse; /* Optional: Collapse borders between table cells */
  //   overflow-x: auto; /* Enable horizontal scrolling on small screens if necessary */
  // }
  .table-container {
    height: 50vh; /* Set a fixed height of 50% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    // display: flex;
    // justify-content: center;
    // align-items: center;
    
  }

  /* Define the custom-table class for styling */
  #custom-table {
    width: 75%; /* Set the table width to 75% of its container */
    border-collapse: collapse; /* Optional: Collapse borders between table cells */
  }
