<div class="headertable">
  <div class="row">
    <div class="col-md-4 offset-md-7 mt-3" style="display: flex; justify-content: flex-end;align-items: baseline;">
      <mat-form-field>
        <mat-label>Est Time</mat-label>
        <input matInput [(ngModel)]="exchangeHeader" placeholder="Enter exchange header">
      </mat-form-field> &nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="primary" (click)="setExchangeHeader()">Set</button>
    </div>
  </div>
</div>
<div class="main-body">
  <div class="container">
    <div class="mat-elevation-z8">
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort id="custom-table"
          class="table table-sm table-responsive table table-bordered text-center">
          <ng-container matColumnDef="selected" class="text-center">
            <th mat-sort-header mat-header-cell *matHeaderCellDef mat-sort-header> Select </th>
            <td mat-cell *matCellDef="let element"> <mat-checkbox [checked]="element.isSelected"
                (change)="setAll($event.checked,element)"></mat-checkbox> </td>
          </ng-container>
          <ng-container matColumnDef="jobId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="header-wrapper">
                <div class="department-name text-center">Job ID </div>
                <div class="filter-input">
                  <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let job" class="text-center"> <a class="text-primary clickable-link"
                (click)="getProductionJob(job)"> {{ job.jobId }}
              </a> </td>
          </ng-container>
          <!-- This for Allocated jobId table view -->
          <ng-container matColumnDef="allocatedJobId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="header-wrapper">
                <div class="department-name text-center">Job ID </div>
                <div class="filter-input">
                  <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let job" class="text-center"> <a class="text-primary clickable-link"
                (click)="getAllocatedJobId(job)"> {{ job.jobId }}
              </a> </td>
          </ng-container>
          <ng-container matColumnDef="estjob">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="header-wrapper">
                <div class="department-name text-center">EST Job/Query Date </div>
                <div class="filter-input">
                  <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                </div>
              </div>
            </th>
            <td mat-cell *matCellDef="let job" class="text-center"> {{ job.jobDate }} </td>
          </ng-container>
          <ng-container matColumnDef="employee">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="header-wrapper">
                <div class="department-name text-center">Employee(s) </div>
                <div class="filter-input">
                  <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                </div>
              </div>
            </th>
            <!-- <th mat-sort-header mat-header-cell *matHeaderCellDef>  </th> -->
            <td mat-cell *matCellDef="let job" class="text-center"> <a class="text-primary clickable-link"
                (click)="getemployeeName(job)"> {{ job.employeeName }} </a></td>
          </ng-container>
          <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="header-wrapper">
                <div class="department-name text-center">Client </div>
                <div class="filter-input">
                  <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                </div>
              </div>
            </th>
            <!-- <th mat-sort-header mat-header-cell *matHeaderCellDef> Client </th> -->
            <td mat-cell *matCellDef="let job" class="text-center"> {{ job.shortName }} </td>
          </ng-container>
          <ng-container matColumnDef="customerSatisfaction">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="header-wrapper">
                <div class="department-name text-center">Customer classification </div>
                <div class="filter-input">
                  <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                </div>
              </div>
            </th>
            <!-- <th mat-sort-header mat-header-cell *matHeaderCellDef> Customer Satisfaction </th> -->
            <td mat-cell *matCellDef="let job" class="text-center"> {{ job.customerClassification }} </td>
          </ng-container>
          <ng-container matColumnDef="fileName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="header-wrapper">
                <div class="department-name text-center">File Name</div>
                <div class="filter-input">
                  <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                </div>
              </div>
            </th>
            <!-- <th mat-sort-header mat-header-cell *matHeaderCellDef> File Name </th> -->
            <td mat-cell *matCellDef="let job" class="text-center"> {{ job.fileName }} </td>
          </ng-container>
          <ng-container matColumnDef="fileInwardMode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="header-wrapper">
                <div class="department-name text-center"> File Inward Mode</div>
                <div class="filter-input">
                  <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                </div>
              </div>
            </th>
            <!-- <th mat-sort-header mat-header-cell *matHeaderCellDef> File Inward Mode </th> -->
            <td mat-cell *matCellDef="let job" class="text-center"> {{ job.fileInwardType }} </td>
          </ng-container>
          <ng-container matColumnDef="jobstatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="header-wrapper">
                <div class="department-name text-center"> Job Staus</div>
                <div class="filter-input">
                  <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                </div>
              </div>
            </th>
            <!-- <th mat-sort-header mat-header-cell *matHeaderCellDef> Job Staus </th> -->
            <td mat-cell *matCellDef="let job" class="text-center"> {{ job.jobstatus }} </td>
          </ng-container>
          <ng-container matColumnDef="projectcode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="header-wrapper">
                <div class="department-name text-center"> Project Code</div>
                <div class="filter-input">
                  <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                </div>
              </div>
            </th>
            <!-- <th mat-sort-header mat-header-cell *matHeaderCellDef> ProjectCode </th> -->
            <td mat-cell *matCellDef="let job" class="text-center"> {{ job.projectCode }} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="header-wrapper">
                <div class="department-name text-center"> Status </div>
                <div class="filter-input">
                  <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                </div>
              </div>
            </th>
            <!-- <th mat-sort-header mat-header-cell *matHeaderCellDef> Status </th> -->
            <td mat-cell *matCellDef="let job" class="text-center"> {{ job.jobStatusDescription }} </td>
          </ng-container>
          <ng-container matColumnDef="scope">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="header-wrapper">
                <div class="department-name text-center"> Scope </div>
                <div class="filter-input">
                  <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                </div>
              </div>
            </th>
            <!-- <th mat-sort-header mat-header-cell *matHeaderCellDef> Scope </th> -->
            <td mat-cell *matCellDef="let job" class="text-center"> {{ job.scopeDesc }} </td>
          </ng-container>
          <ng-container matColumnDef="esttime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="header-wrapper">
                <div class="department-name text-center"> Est Time </div>
                <div class="filter-input">
                  <input matInput [(ngModel)]="exmployeeEstTime" (keyup)="applyFilter($event)" placeholder="Filter"
                    #input>
                </div>
              </div>
            </th>
            <!-- <th mat-sort-header mat-header-cell *matHeaderCellDef> EstTime </th> -->
            <td mat-cell *matCellDef="let job" class="text-center"> {{ job.allocatedEstimatedTime }} </td>
          </ng-container>
          <ng-container matColumnDef="deliverydate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <div class="header-wrapper">
                <div class="department-name text-center"> Delivery Date </div>
                <div class="filter-input">
                  <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                </div>
              </div>
            </th>
            <!-- <th mat-sort-header mat-header-cell *matHeaderCellDef> DeliveryDate </th> -->
            <td mat-cell *matCellDef="let job" class="text-center"> {{ job.dateofDelivery }} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="visibility()"></tr>
          <tr mat-row *matRowDef="let job; columns: visibility();"></tr>
        </table>
      </div>
      <mat-paginator #paginator1 [pageSizeOptions]="[25, 50,75,100]" aria-label="Select page of users"></mat-paginator>
    </div>

    <br>
    <div class="employeetable">
      <div class="row">
        <div class="col-8">
          <div class="mat-elevation-z8">
            <h3 style="font-family: 'Times New Roman', Times, serif;color:#ff9710df">Assigned To:</h3>
            <div class="table-container">
              <table mat-table [dataSource]="dataEmployeeSource" id="custom-table" matSort
                class="table table-sm  table-responsive table table-bordered text-center">
                <ng-container matColumnDef="selected">
                  <th mat-sort-header mat-header-cell *matHeaderCellDef> Select </th>
                  <td mat-cell *matCellDef="let element"> <mat-checkbox
                      (change)="setEmployeeAll($event.checked,element)"></mat-checkbox> </td>

                </ng-container>
                <ng-container matColumnDef="employees">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="header-wrapper">
                      <div class="department-name text-center">Employee </div>
                      <div class="filter-input">
                        <input matInput (keyup)="employeeFilter($event)" placeholder="Filter" #input>
                      </div>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let job" class="text-center"> {{ job.employeenameWithCode }} </td>
                </ng-container>
                <ng-container matColumnDef="allocatedEmployee">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="header-wrapper">
                      <div class="department-name text-center">Employee </div>
                      <div class="filter-input">
                        <input matInput (keyup)="employeeFilter($event)" placeholder="Filter" #input>
                      </div>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let job" class="text-center"> <a class="text-primary"
                      (click)="employeeProduction(job)"> {{ job.employeenameWithCode }} </a></td>
                </ng-container>
                <ng-container matColumnDef="estTime">
                  <th mat-sort-header mat-header-cell *matHeaderCellDef class="text-center"> EST Time (in Mins) </th>
                  <td mat-cell *matCellDef="let job" class="text-center" (click)="job.editing = true">
                    <ng-container *ngIf="!job.editing; else editMode">
                      {{ job.estTime }}
                    </ng-container>
                    <ng-template #editMode>
                      <input matInput [(ngModel)]="job.estTime" type="number" style="width: 70px;"
                        (ngModelChange)="afterCellEdit(job)" (blur)="job.editing = false" />
                    </ng-template>
                  </td>
                </ng-container>
                <ng-container matColumnDef="jobCategory">
                  <th mat-sort-header mat-header-cell *matHeaderCellDef class="text-start"> Job Cat. </th>
                  <td mat-cell *matCellDef="let job" class="text-start"> {{ job.status }} </td>
                </ng-container>

                <ng-container matColumnDef="shift">
                  <th mat-sort-header mat-header-cell *matHeaderCellDef class="text-start">Shift </th>
                  <td mat-cell *matCellDef="let job" class="text-start"> {{ job.shiftName }} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="employeeVisibility()"></tr>
                <tr mat-row *matRowDef="let job; columns: employeeVisibility();"></tr>
              </table>
            </div>

            <mat-paginator #paginator2 [pageSizeOptions]="[25, 50,75,100]"></mat-paginator>
          </div>

        </div>
        <br>
        <div class="col-4">
          <mat-form-field>
            <mat-label>Scope</mat-label>
            <mat-select [(value)]="selectedScope">
              <mat-option *ngFor="let scope of scopes" [value]="scope.id">
                {{ scope.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <br>
          <mat-checkbox matInput [(ngModel)]="benchChecked" (change)="onBenchCheckboxChange($event)">
            BenchBox
          </mat-checkbox>&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-success"
            (click)="onSubmit()">Submit</button>

        </div>
      </div>
    </div>
  </div>
</div>