<div class="main-body">
    <div class="container">
        <div class="productionallocation">
            <div class="header">
                <div class="row">
                    <div class="col">
                        <h3 style="font-family:'Times New Roman', Times, serif">Production Allocation (0)</h3>
                    </div>
                    <div class="col" id="titles">
                       <p><span class="box"></span> Assigned to Single Employee</p>
                       <p><span class="box1"></span> Assigned to Multiple Employee</p>
                       <p><span class="box2"></span> Work-Incomplete</p>
                    </div>
                </div>
            </div>


            <mat-tab-group dynamicHeight>
                <mat-tab label="Fresh Jobs ()">
                    <div class="example-small-box mat-elevation-z4">
                        <app-productionallocationtable></app-productionallocationtable>
                    </div>
                </mat-tab>
                <mat-tab label="Revision Jobs ()">
                    <div class="example-large-box mat-elevation-z4">
                        <app-productionallocationtable></app-productionallocationtable>
                    </div>
                </mat-tab>
                <mat-tab label="Rework Jobs ()">
                    <div class="example-large-box mat-elevation-z4">
                        <app-productionallocationtable></app-productionallocationtable>
                    </div>
                </mat-tab>
                <mat-tab label="Allocated Jobs ()">
                    <div class="example-large-box mat-elevation-z4">
                        <app-productionallocationtable></app-productionallocationtable>
                    </div>
                </mat-tab>
                <mat-tab label="Queries  ()">
                    <div class="example-large-box mat-elevation-z4">
                        <app-productionallocationtable></app-productionallocationtable>
                    </div>
                </mat-tab>
                <mat-tab label="Query Response  ()">
                    <div class="example-large-box mat-elevation-z4">
                        <app-productionallocationtable></app-productionallocationtable>
                    </div>
                </mat-tab>
                <mat-tab label="Error Jobs ()">
                    <div class="example-large-box mat-elevation-z4">
                        <app-productionallocationtable></app-productionallocationtable>
                    </div>
                </mat-tab>
                <mat-tab label="Quotation Jobs ()">
                    <div class="example-large-box mat-elevation-z4">
                        <app-productionallocationtable></app-productionallocationtable>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>