<div class="container">
    <div class="fullform">
        <h1 style="text-align: center;color:#225eb8;font-family: 'Times New Roman', Times, serif;">Customer Receipts
        </h1>
        <div class="firstform">
            <div class="container">
                <div class="fullform">
                  <h1 style="text-align: center;color:#225eb8;font-family: 'Times New Roman', Times, serif;">Customer Receipts</h1>
                  <div class="firstform">
                    <div class="firstformcontainer">
                      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                          <div class="col">
                            <mat-form-field>
                              <mat-label>VoucherNumber</mat-label>
                              <input matInput value="0"  formControlName="vouchernumber">
                            </mat-form-field>
                          </div>
                          <div class="col">
                            <mat-form-field>
                              <mat-label>VoucherDate</mat-label>
                              <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="voucherdate">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                              <mat-hint>(MM/DD/YYYY)</mat-hint>
                            </mat-form-field>
                          </div>
                        </div>
              
                        <div class="row">
                          <div class="col">
                            <mat-form-field>
                              <mat-label>ReferenceNumber</mat-label>
                              <input matInput placeholder="referencenumber" formControlName="referencenumber">
                            </mat-form-field>
                          </div>
                          <div class="col">
                            <mat-form-field>
                              <mat-label>ReferenceDate</mat-label>
                              <input matInput [matDatepicker]="referencedate" placeholder="Choose a date" formControlName="referencedate">
                              <mat-datepicker-toggle matSuffix [for]="referencedate"></mat-datepicker-toggle>
                              <mat-datepicker #referencedate></mat-datepicker>
                              <mat-hint>(MM/DD/YYYY)</mat-hint>
                            </mat-form-field>
                          </div>
                        </div>
              
                        <button type="submit">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              

        </div>
    </div>
</div>