<div class="container">
    <div class="fullform">
        <h1 style="text-align: center;color:#225eb8;font-family: 'Times New Roman', Times, serif;">Customer Receipts
        </h1>
        <div class="firstform">
            <div class="firstformcontainer">

                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <mat-label>VoucherNumber</mat-label>
                            <input matInput type="number" min="0" [disabled]="true" value="0">
                        </mat-form-field>
                    </div>
                    <div class="col">

                        <mat-form-field>
                            <mat-label>VoucherDate</mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-hint>(MM/DD/YYYY)</mat-hint>
                        </mat-form-field>
                    </div>

                </div>

            </div>


        </div>
        <div class="secondform">


        </div>
    </div>
</div>