<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body >
  <div class="container">
    <div class="fullform">
      <div class="main-body">
        <h1 style="font-family: 'Times New Roman', Times, serif;color: #2a6eec;">Employee VS Division</h1>
        <button mat-raised-button class="btn btn-primary" (click)="openAddEditEmpForm()">
          ADD EMPLOYEE VS Division
        </button>
        <br>
   
        <div class="table">

            <mat-table class="table table-sm table-responsive" mat-table #table [dataSource]="dataSource" matSort>

              <!-- ID Column -->
         

              <!-- Progress Column -->
              <ng-container matColumnDef="employeeCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Code </th>
                <td mat-cell *matCellDef="let row"> {{row.employeeCode}}</td>
              </ng-container>

              <ng-container matColumnDef="employeeName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
                <td mat-cell *matCellDef="let row"> {{row.employeeName}}</td>
              </ng-container>

              <ng-container matColumnDef="divisionName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Division Name </th>
                <td mat-cell *matCellDef="let row"> {{row.divisionName}}</td>
              </ng-container>



              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let row">
                  <!-- <button mat-icon-button color="primary" (click)="openEditForm(row)">
                  <mat-icon>edit</mat-icon>
                </button> -->
                  <button mat-icon-button color="warn" (click)="deleteEmployee(row.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          
            </mat-table>
            <mat-paginator [pageSizeOptions]="[25, 50,75,100]" aria-label="Select page of users"></mat-paginator>
          </div>
        </div>
      
    </div>
  </div>

</body>

</html>