<h1 mat-dialog-title>Job Details</h1>
<div mat-dialog-content>
  <h2>Job History</h2>
  

  <div class="table">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="movedFrom">
          <th mat-header-cell *matHeaderCellDef>Moved From</th>
          <td mat-cell *matCellDef="let element">{{ element.previousProcessName }}</td>
        </ng-container>
        <ng-container matColumnDef="movedTo">
          <th mat-header-cell *matHeaderCellDef>Moved To</th>
          <td mat-cell *matCellDef="let element">{{ element.processName }}</td>
        </ng-container>
        <ng-container matColumnDef="movedDate">
          <th mat-header-cell *matHeaderCellDef>Moved Date</th>
          <td mat-cell *matCellDef="let element">{{ element.createdUTC }}</td>
        </ng-container>
        <ng-container matColumnDef="movedBy">
          <th mat-header-cell *matHeaderCellDef>Moved By</th>
          <td mat-cell *matCellDef="let element">{{ element.employeeName }}</td>
        </ng-container>
        <ng-container matColumnDef="movedtoemployee">
          <th mat-header-cell *matHeaderCellDef>Moved to</th>
          <td mat-cell *matCellDef="let element">{{ element.workingName ?element.workingName:"-" }}</td>
        </ng-container>
        <ng-container matColumnDef="remarks">
          <th mat-header-cell *matHeaderCellDef>Remarks</th>
          <td mat-cell *matCellDef="let element">{{ element.remarks }}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-hint style="color:orange">* All Date Formats in : [MM/dd/yyyy]</mat-hint>
  
  </div>
</div>
<div mat-dialog-actions class="text-center">
    <button class="btn btn-danger" (click)="closejobform()">Close</button>
  </div>
