<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClientOrderTable</title>
</head>
<body>
    <div class="main-body">
        <div class="container">
            <div class="mat-elevation-z8">
              <div class="table-container">
                <table mat-table [dataSource]="dataSource" matSort class="table table-sm  table-responsive table table-bordered text-center">
                  <ng-container matColumnDef="companyname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <div class="header-wrapper">
                        <div class="department-name text-center"> Company Name </div>
                        <div class="filter-input">
                          <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                        </div>
                      </div>
                    </th>
                    <td mat-cell *matCellDef="let job" class="text-center"> {{ job.companyName }}</td>
                  </ng-container>
                  <!-- This for Allocated jobId table view -->
                  <ng-container matColumnDef="customername">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <div class="header-wrapper">
                        <div class="department-name text-center"> Customer Name </div>
                        <div class="filter-input">
                          <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                        </div>
                      </div>
                    </th>
                    <td mat-cell *matCellDef="let job" class="text-center"> <a class="text-primary clickable-link" > {{ job.name }}
                      </a> </td>
                  </ng-container>
                  <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <div class="header-wrapper">
                        <div class="department-name text-center">Address </div>
                        <div class="filter-input">
                          <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                        </div>
                      </div>
                    </th>
                    <td mat-cell *matCellDef="let job" class="text-center"> {{ job.address }} </td>
                  </ng-container>
                  <ng-container matColumnDef="customershortname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <div class="header-wrapper">
                        <div class="department-name text-center">Customer Short Name </div>
                        <div class="filter-input">
                          <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                        </div>
                      </div>
                    </th>
                    <!-- <th mat-sort-header mat-header-cell *matHeaderCellDef>  </th> -->
                    <td mat-cell *matCellDef="let job" class="text-center">  <a class="text-primary clickable-link" > {{ job.shortName }} </a></td>
                  </ng-container>
                  <ng-container matColumnDef="classification">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <div class="header-wrapper">
                        <div class="department-name text-center">Classification </div>
                        <div class="filter-input">
                          <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                        </div>
                      </div>
                    </th>
                    <!-- <th mat-sort-header mat-header-cell *matHeaderCellDef> Client </th> -->
                    <td mat-cell *matCellDef="let job" class="text-center"> {{ job.description }} </td>
                  </ng-container>
                  <ng-container matColumnDef="emailid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <div class="header-wrapper">
                        <div class="department-name text-center">EmailId </div>
                        <div class="filter-input">
                          <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                        </div>
                      </div>
                    </th>
                    <!-- <th mat-sort-header mat-header-cell *matHeaderCellDef> Customer Satisfaction </th> -->
                    <td mat-cell *matCellDef="let job" class="text-center"> {{ job.emailID }} </td>
                  </ng-container>
                  <ng-container matColumnDef="phonenumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <div class="header-wrapper">
                        <div class="department-name text-center">Phone Number</div>
                        <div class="filter-input">
                          <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                        </div>
                      </div>
                    </th>
                    <!-- <th mat-sort-header mat-header-cell *matHeaderCellDef> File Name </th> -->
                    <td mat-cell *matCellDef="let job" class="text-center"> {{ job.phoneNo }} </td>
                  </ng-container>
                  <ng-container matColumnDef="approvedphonenumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <div class="header-wrapper">
                        <div class="department-name text-center"> Phone Number</div>
                        <div class="filter-input">
                          <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                        </div>
                      </div>
                    </th>
                    <!-- <th mat-sort-header mat-header-cell *matHeaderCellDef> File Inward Mode </th> -->
                    <td mat-cell *matCellDef="let job" class="text-center"> {{ job.phone1 }} </td>
                  </ng-container>
                  <ng-container matColumnDef="salesemployee">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <div class="header-wrapper">
                        <div class="department-name text-center"> Sales Employee</div>
                        <div class="filter-input">
                          <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                        </div>
                      </div>
                    </th>
                    <!-- <th mat-sort-header mat-header-cell *matHeaderCellDef> Job Staus </th> -->
                    <td mat-cell *matCellDef="let job" class="text-center"> {{ job.employeeName }} </td>
                  </ng-container>
                  <ng-container matColumnDef="action" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                    <td mat-cell *matCellDef="let element">
                        <a class="btn btn-success actionbtn" matTooltip="Edit" matTooltipPosition="below"
                        (click)="openEditForm(element.id)">
                            <mat-icon>edit</mat-icon>
                        </a>
                    </td>
                </ng-container>
                  <tr mat-header-row *matHeaderRowDef="visibility()"></tr>
                  <tr mat-row *matRowDef="let job; columns: visibility();"></tr>
                </table>
                <mat-paginator #paginator1 [pageSizeOptions]="[25, 50,75,100]" aria-label="Select page of users"></mat-paginator>
                <!-- <mat-paginator [pageSizeOptions]="[25, 50]" showFirstLastButtons></mat-paginator> -->
             </div>
    
            </div>
        </div>
    </div>
</body>
</html>