<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="height:100vh">
  <div class="container">
    <!-- <div class=""> -->
    <div class="card">
      <div class="card-body bg-primary">
        <div class="row">
          <div class="col-md">
            <h3 class="text-white">UnApproved Jobs</h3>
          </div>
        </div>
        <div class="card-body bg-white">
            <div class="table-container table-responsive mt-4">
                <table class="table table-bordered text-center" mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="fileName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="header-wrapper">
                      <div class="department-name text-start">File Name</div>
                      <div class="filter-input">
                        <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                      </div>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let row"> {{row.fileName}} </td>
                </ng-container>
                <ng-container matColumnDef="po">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <div class="header-wrapper">
                        <div class="department-name text-start">PO#</div>
                        <div class="filter-input">
                          <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                        </div>
                      </div>
                    </th>
                    <td mat-cell *matCellDef="let row"> {{row.pono}} </td>
                </ng-container>
                <ng-container matColumnDef="CustomerName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <div class="header-wrapper">
                      <div class="department-name text-start">Customer Name</div>
                      <div class="filter-input">
                        <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                      </div>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let row"> {{row.companyName}} </td>
                </ng-container>
                <ng-container matColumnDef="Instruction">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <div class="header-wrapper">
                        <div class="department-name text-start">Instruction</div>
                        <div class="filter-input">
                          <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                        </div>
                      </div>
                    </th>
                    <td mat-cell *matCellDef="let row"> {{row.jobStatusDescription}} </td>
                </ng-container>
                <ng-container matColumnDef="Salespersonname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <div class="header-wrapper">
                        <div class="department-name text-start">Sales Person Name</div>
                        <div class="filter-input">
                          <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                        </div>
                      </div>
                    </th>
                    <td mat-cell *matCellDef="let row"> {{row.salesPersonName}} </td>
                </ng-container>
                <ng-container matColumnDef="Jobstatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <div class="header-wrapper">
                        <div class="department-name text-start">Job Status</div>
                        <div class="filter-input">
                          <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                        </div>
                      </div>
                    </th>
                    <td mat-cell *matCellDef="let row"> {{row.jobStatusDescription}} </td>
                </ng-container>
  
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-icon-button color="primary" (click)="openViewForm(row.orderId)">
                      <mat-icon>remove_red_eye</mat-icon>
                    </button>
                  </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{dataSource.filter}}"</td>
                </tr>
                <!-- Row shown when there is no matching data. -->
                <ng-container *ngIf="dataSource?.data?.length === 0">
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="8">No data available</td>
                  </tr>
                </ng-container>
  
              </table>
  
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</body>
</html>