<div class="container">
  <div class="fullform">

    <h1 style="font-family: 'Times New Roman', Times, serif;color:#0a5dac;text-align: center;">Pricing</h1>
    <form action="">
      <!--Department and pricing type dropdown-->
      <div class="firstrow">
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Department</mat-label>
              <mat-select [(value)]="selecteddepartmentOption">
                <mat-option *ngFor="let department of departments" [value]="department.id">
                  {{ department.description }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <mat-label>Pricing Type</mat-label>
              <mat-select [(value)]="selectedpricingtypeOption" [(ngModel)]="selectedFilter" name="selectedfilter" >
                <mat-option *ngFor="let pricingtype of pricingtypes" [value]="pricingtype.id">
                  {{ pricingtype.description }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="secondrow">
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>chooseCustomer</mat-label>
              <mat-select [(value)]="selectedcustomerOption">
                <mat-option *ngFor="let customer of customers" [value]="customer.id">
                  {{ customer.description }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <mat-label>ChooseScope</mat-label>
              <mat-select [(value)]="selectedscopeOption">
                <mat-option *ngFor="let scope of scopes" [value]="scope.id">
                  {{ scope.description }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>


<div class="basedonscope" >
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>With Effect From</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="effectFrom">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
    </div>
    <div class="col">
      <mat-form-field>
        <mat-label>JobStatus</mat-label>
        <mat-select [(value)]="selectedjobstatusOption">
          <mat-option *ngFor="let jobstatus of jobstatus" [value]="jobstatus.id">
            {{ jobstatus.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

      <div class="thirdrow">
        <mat-form-field>
          <mat-label>Price</mat-label>
          <input matInput type="number" placeholder="Enter price">
        </mat-form-field>
      </div>

    </form>



  </div>
</div>