h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.view {
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 0;
}


.container {
    width: 46vw;
}