<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="view" >
        <div class="container" style="border: 2px solid rgb(78, 180, 236);">
            <h1 style="color: #265dcb; font-size: large; display: flex; align-items: center; justify-content: center;">CheckList</h1>
            <div class="row">
                <div class="col">
                    <h1>Customer ShortName</h1>
                </div>
                <div class="col">
                    {{shortname}}
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <h1>Department Name</h1>
                </div>
                <div class="col">
                    {{department}}
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <h1>Description</h1>
                </div>
                <div class="col">
                    {{description}}
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>