<div class="container">
<form [formGroup]="myForm" (ngSubmit)="onSubmit(1)">
  <h1 style="font-family: 'Times New Roman', Times, serif;color:#1883db">Customer VS Employee</h1>
    
  <mat-form-field appearance="fill" hidden >
    <mat-label>Hidden Field</mat-label>
    <input matInput placeholder="Hidden Field" formControlName="id"  />
  </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>customerClassification</mat-label>
        <mat-select ngDefaultControl formControlName="classificationList">
            <mat-option *ngFor="let customerClassification of data.classificationList" [value]="customerClassification.id">
                {{customerClassification.description}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Employee</mat-label>
        <mat-select ngDefaultControl formControlName="employeeName">
          <mat-option *ngFor="let option of data.employeeList" [value]="option.employeeId">{{option.employeeName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Customer</mat-label>
        <mat-select ngDefaultControl formControlName="customer"
            [formControl]="selectControl" multiple>
            <mat-option *ngFor="let employeehierarchyoption of data.customerList"
                [value]="employeehierarchyoption.id	">
                {{ employeehierarchyoption.shortName+'-'+employeehierarchyoption.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>


      
  <br>
    <button mat-raised-button color="primary">Submit</button>
  </form>
</div>