.container { 
  // display: grid;
  grid-template-columns: 0.6fr 1.7fr 0.7fr;
  grid-template-rows: 1.5fr 0.5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". advance ."
    ". . ."
    ". . .";
}

.advance { grid-area: advance; }

.advance{
  width: 50vw;
}
  .button {
    position: relative;
  }
  
  .btn {
    position: absolute;
    top: 0;
    right: 0;
  }

  .matbuttonaign {
    display: flex;
    justify-content: center;
    align-items: center;
   /* Optional: set a height for the container */
  }