<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="extensions/resizable/bootstrap-table-resizable.js"></script>
</head>
<body style="height: 100vh;">
    <div class="main-body">
        <div class="container">
            <div class="productionmain">
                <h3 style="font-family:'Times New Roman', Times, serif">ClientorderstableComponent</h3>
    <button routerLink="clientorderview">ClientOrderView</button>
                <mat-tab-group  dynamicHeight (selectedTabChange)="onTabChange($event)">
                    <mat-tab label="New Jobs (2)" >
                    </mat-tab>
                    <mat-tab label="Quotation Jobs (8)">
                    </mat-tab>
                    <mat-tab label="Converted Jobs (3304)">
                    </mat-tab>
                    <mat-tab label=" Deleted Jobs (2486)">
                    </mat-tab>
                    <mat-tab label="Quote Not Approval Jobs (3)">
                    </mat-tab>
                    <mat-tab label="Query For SP Not Approval Jobs (0)">
                    </mat-tab>
                </mat-tab-group>

                <div>
                    <app-clientorderstable></app-clientorderstable>
                </div>
               
            </div>
        </div>
    </div>
</body>
</html>