// .container {  display: grid;
//     grid-template-columns: 1fr 1.5fr 0.5fr;
//     grid-template-rows: 1.3fr 0.7fr 1fr;
//     gap: 0px 0px;
//     grid-auto-flow: row;
//     grid-template-areas:
//       ". jobdetails ."
//       ". . ."
//       ". . .";
//   }
  
//   .jobdetails { grid-area: jobdetails; }
.container{
    height:600px;
    overflow: auto;
  }
  #table-container {
    height: 50vh; /* Set a fixed height of 50% of the viewport height */
    overflow-y: auto;  
  }
  #custom-table {
    width: 75%; /* Set the table width to 75% of its container */
    border-collapse: collapse; /* Optional: Collapse borders between table cells */
  }
  