.container {  display: grid;
    grid-template-columns: -1fr 1.4fr 0.6fr;
    grid-template-rows: 1.7fr 0.3fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". jobdetails ."
      ". . ."
      ". . .";
      overflow-y: scroll;
      height: 80vh;
  }
  
  .jobdetails { grid-area: jobdetails; }
  