.container {  display: grid;
  grid-template-columns: 0.4fr;
  grid-template-rows: 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "itassets";
}

.employee { grid-area: itassets; }
.mat-mdc-table {
  table-layout: auto;
  white-space: normal;
  height: 312px;
}
.mat-table {
  overflow: auto;
  max-height: 500px;
}