.text-center{
    display: flex;
    justify-content: center;
}
#table-container {
    height: 50vh; /* Set a fixed height of 50% of the viewport height */
    overflow-y: auto;  
  }
  #custom-table {
    width: 75%; /* Set the table width to 75% of its container */
    border-collapse: collapse; /* Optional: Collapse borders between table cells */
  }