<div class="grid-container">
    <div class="fullform"><div class="table-container mat-elevation-z8">
        <h1 style="text-align: center;font-family: 'Times New Roman', Times, serif;color:#FF9671">Invoice Cancellation List</h1>
              
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- CancellationNo Column -->
          <ng-container matColumnDef="CancellationNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CancellationNo </th>
            <td mat-cell *matCellDef="let element"> {{element.CancellationNo}} </td>
          </ng-container>
      
          <!-- InvoiceNo Column -->
          <ng-container matColumnDef="InvoiceNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> InvoiceNo </th>
            <td mat-cell *matCellDef="let element"> {{element.InvoiceNo}} </td>
          </ng-container>
      
          <!-- CancelledDate Column -->
          <ng-container matColumnDef="CancelledDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CancelledDate </th>
            <td mat-cell *matCellDef="let element"> {{element.CancelledDate}} </td>
          </ng-container>
      
          <!-- CancelledBy Column -->
          <ng-container matColumnDef="CancelledBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CancelledBy </th>
            <td mat-cell *matCellDef="let element"> {{element.CancelledBy}} </td>
          </ng-container>
      
          <!-- ProductValue Column -->
          <ng-container matColumnDef="ProductValue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ProductValue </th>
            <td mat-cell *matCellDef="let element"> {{element.ProductValue}} </td>
          </ng-container>
      
          <!-- Wavier Column -->
          <ng-container matColumnDef="Wavier">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Wavier </th>
            <td mat-cell *matCellDef="let element"> {{element.Wavier}} </td>
          </ng-container>
      
          <!-- RoundOff Column -->
          <ng-container matColumnDef="RoundOff">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> RoundOff </th>
            <td mat-cell *matCellDef="let element"> {{element.RoundOff}} </td>
          </ng-container>
      
          <!-- Discount Column -->
          <ng-container matColumnDef="Discount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount </th>
            <td mat-cell *matCellDef="let element"> {{element.Discount}} </td>
          </ng-container>
      
          <!-- Invoicevalue Column -->
          <ng-container matColumnDef="Invoicevalue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoicevalue </th>
            <td mat-cell *matCellDef="let element"> {{element.Invoicevalue}} </td>
          </ng-container>
      
          <!-- Column definitions -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <!-- Paginator -->
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons></mat-paginator>
      </div></div>
  </div>


  