.grid-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
  }
  

  .popinvoice{
    color:#2c7cbd;
    text-decoration: none;
  }
  .popinvoice:hover{
    color:rgb(26, 172, 245)
  }