<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="height:123vh">
    <!DOCTYPE html>
    <html lang="en">
    
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
    </head>
    
    <body style="height: 123vh;">
      <div class="container">
        <div class="advance">
          <div class="customerProfile">
            <div class="backgroundcolor">
              <div class="panel-heading">
                <h2 class="panel-title" style="color:#fff;">
                    IT ASSETS <mat-icon class="add-icon" matTooltip="Add Vendor!"
                    (click)="openvendor()">add_box</mat-icon>
                </h2>
              </div>
    
              <div class="table-container">
              
                <table class="table table-sm table-responsive" id="custom-table" mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="baynumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <div class="header-wrapper">
                                <div class="department-name text-start"> Bay Number </div>
                                <div class="filter-input">
                                    <input matInput (keyup)="employeeFilter($event)" placeholder="Filter"
                                        #input>
                                </div>
                            </div>
                        </th>
                        <td mat-cell *matCellDef="let element">{{element.bayNumber }}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="location">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <div class="header-wrapper">
                                <div class="department-name text-start">Location</div>
                                <div class="filter-input">
                                    <input matInput (keyup)="employeeFilter($event)" placeholder="Filter"
                                        #input>
                                </div>
                            </div>
                        </th>
                        <td mat-cell *matCellDef="let element">{{element.location}}</td>
                    </ng-container>
                
                
                    <ng-container matColumnDef="pcname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <div class="header-wrapper">
                                <div class="department-name text-start">PC Name</div>
                                <div class="filter-input">
                                    <input matInput (keyup)="employeeFilter($event)" placeholder="Filter"
                                        #input>
                                </div>
                            </div>
                        </th>
                        <td mat-cell *matCellDef="let element">{{element.pcName}}</td>
                    </ng-container>
                
                
                    <ng-container matColumnDef="pctype">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <div class="header-wrapper">
                                <div class="department-name text-start">PC Type</div>
                                <div class="filter-input">
                                    <input matInput (keyup)="employeeFilter($event)" placeholder="Filter"
                                        #input>
                                </div>
                            </div>
                        </th>
                        <td mat-cell *matCellDef="let element">{{element.description}}</td>
                    </ng-container>
                
                
                    <ng-container matColumnDef="roll">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <div class="header-wrapper">
                                <div class="department-name text-start">Roll</div>
                                <div class="filter-input">
                                    <input matInput (keyup)="employeeFilter($event)" placeholder="Filter"
                                        #input>
                                </div>
                            </div>
                        </th>
                        <td mat-cell *matCellDef="let element">{{element.roll}}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="workingstatus">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <div class="header-wrapper">
                                <div class="department-name text-start">Working Status</div>
                                <div class="filter-input">
                                    <input matInput (keyup)="employeeFilter($event)" placeholder="Filter"
                                        #input>
                                </div>
                            </div>
                        </th>
                        <td mat-cell *matCellDef="let element">{{element.workingStatus}}</td>
                    </ng-container>
                
                
                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                        <td mat-cell *matCellDef="let element">
                            <a class="btn btn-success actionbtn" matTooltip="Edit" matTooltipPosition="below"
                                (click)="openEditForm(element.id)">
                                <mat-icon>edit</mat-icon>
                            </a>
                            <a class="btn btn-success actionbtn" matTooltip="delete" matTooltipPosition="below"
                                (click)="deleteEmployee(element.id)">
                                <mat-icon>delete</mat-icon>
                            </a>
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
              <mat-paginator [pageSizeOptions]="[25, 50]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    
    </div>
    
    </body>
    
    </html>
    
</body>
</html>