.container {  display: grid;
    grid-template-columns: 0.4fr;
    grid-template-rows: 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "itassets";
  }
  
  .itassets { grid-area: itassets; }
  