<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="height: 100vh;">
  <div class="container">
    <!-- <div class=""> -->
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md">
            <h3 class="text-white">
              <span class="scope-text text-start">Edit ErrorCategory</span>
            </h3>
          </div>
        </div>
        <!-- <div class=" bg-white"> -->
        <form [formGroup]="userRegistrationForm" (ngSubmit)="onFormSubmit()">
          <div class="bg-white">
            <div class="row">
              <div class="col-md-2 mt-4 mx-4">
                <h3>Department Name</h3>
              </div>
              <div class="col-md-6 mt-3">
                <mat-form-field>
                  <mat-label>Department</mat-label>
                  <mat-select formControlName="departmentName" [(value)]="scopeID">
                    <mat-option *ngFor="let depart of departments" [value]="depart.id" >
                      {{ depart.description }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 mt-4 mx-4">
                <h3>ErrorCategory Description</h3>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="fill">
                  <input type="" matInput ngDefaultControl  formControlName="description">
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- </div> -->
          <div class="col-12 mt-5">
            <button class="float-left" mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
            <button type="submit" class="btn btn-success float-end">Update</button>
          </div>
        </form>
      </div>
    </div>
    <!-- </div> -->
  </div>
  
</body>
</html>