<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="customerProfile">
        <div class="backgroundcolor">
            <div class="panel-heading">
                <h2 class="panel-title" style="color:#fff;display: flex;
                align-items: center;
                justify-content: center;">
                    Customer VS Division
                </h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <mat-form-field>
                            <mat-label>Customer Shortname</mat-label>
                            <mat-select [(ngModel)]="selectedShortname" name="customershortname">
                                <mat-option *ngFor="let customer of customers" [value]="customer.id">{{
                                    customer.shortName }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Select Department</mat-label>
                            <mat-select [(ngModel)]="selectedDepartment">
                                <mat-option *ngFor="let department of departments" [value]="department.value">
                                    {{ department.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Division</mat-label>
                            <mat-select [(ngModel)]="selectedDivision" name="division">
                                <mat-option *ngFor="let division of divisions" [value]="division.id">{{
                                    division.divisionName }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                </div>

                <div class="buttons" style="display: flex;align-items: center;justify-content: center;">
                    <button type="button" class="btn btn-success" (click)="submit()">Submit</button> &nbsp;
                    <button type="button" class="btn btn-success">Cancel</button>
                </div>
                <br>
                <div class="table">
                    <div class="example-container mat-elevation-z8">

                        <mat-table mat-table [dataSource]="dataSource" matSort id="custom-table"
                        class="table table-sm table-responsive table table-bordered text-center">

                            <ng-container matColumnDef="customershortname">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    <div class="header-wrapper">
                                        <div class="department-name text-start"> Customer Short Name </div>
                                        <div class="filter-input">
                                            <input matInput (keyup)="employeeFilter($event)" placeholder="Filter"
                                                #input>
                                        </div>
                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element">{{element.customerShortName }}</td>
                            </ng-container>

                            <ng-container matColumnDef="department">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    <div class="header-wrapper">
                                        <div class="department-name text-start">Department</div>
                                        <div class="filter-input">
                                            <input matInput (keyup)="employeeFilter($event)" placeholder="Filter"
                                                #input>
                                        </div>
                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element">{{element.department}}</td>
                            </ng-container>


                            <ng-container matColumnDef="division">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    <div class="header-wrapper">
                                        <div class="department-name text-start">Division</div>
                                        <div class="filter-input">
                                            <input matInput (keyup)="employeeFilter($event)" placeholder="Filter"
                                                #input>
                                        </div>
                                    </div>
                                </th>
                                <td mat-cell *matCellDef="let element">{{element.division}}</td>
                            </ng-container>



                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                                <td mat-cell *matCellDef="let element">
                                    <!-- <div class="green-button"></div> -->


                                    <!-- <div class="red-button"></div> -->
                                    <a matTooltip="delete" matTooltipPosition="below"
                                        (click)="deleteEmployee(element.id)">
                                        <mat-icon>delete</mat-icon>
                                    </a>


                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[25, 50]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>


            </div>
        </div>
    </div>


</body>

</html>