<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="height: 140vh;">
  <div class="container">
    <div class="advance">
      <div class="customerProfile">
        <div class="backgroundcolor">
          <div class="panel-heading">
            <h2 class="panel-title" style="color:#fff;">
               Add Collection <mat-icon class="add-icon" matTooltip="Add Collection!"
                (click)="openAddEditEmpForm()">add_box</mat-icon>
            </h2>
          </div>
          <div class="table-container">
  
          <table mat-table [dataSource]="dataSource"  id="custom-table" matSort>
  
            <!-- ID Column -->
            <ng-container matColumnDef="voucherNo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <div class="header-wrapper">
                <div class="department-name text-start">  Voucher Number  </div>
                <div class="filter-input">
                  <input matInput (keyup)="employeeFilter($event)" placeholder="Filter" #input>
                </div>
              </div></th>
              <td mat-cell *matCellDef="let row"> {{row.voucherNo}} </td>
            </ng-container>
  
            <!-- Progress Column -->
            <ng-container matColumnDef="collectionDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>   <div class="header-wrapper">
                <div class="department-name text-start"> Voucher Date </div>
                <div class="filter-input">
                  <input matInput (keyup)="employeeFilter($event)" placeholder="Filter" #input>
                </div>
              </div></th>
              <td mat-cell *matCellDef="let row"> {{row.collectionDate}}</td>
            </ng-container>
  
            <ng-container matColumnDef="shortName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>   <div class="header-wrapper">
                <div class="department-name text-start"> Customer </div>
                <div class="filter-input">
                  <input matInput (keyup)="employeeFilter($event)" placeholder="Filter" #input>
                </div>
              </div></th>
              <td mat-cell *matCellDef="let row"> {{row.shortName}}</td>
            </ng-container>
  
            <ng-container matColumnDef="collectionAmount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>  <div class="header-wrapper">
                <div class="department-name text-start"> Receipt Amount  </div>
                <div class="filter-input">
                  <input matInput (keyup)="employeeFilter($event)" placeholder="Filter" #input>
                </div>
              </div></th>
              <td mat-cell *matCellDef="let row"> {{row.collectionAmount}}</td>
            </ng-container>
  
            <ng-container matColumnDef="referenceNo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>   <div class="header-wrapper">
                    <div class="department-name text-start"> Reference Number </div>
                    <div class="filter-input">
                      <input matInput (keyup)="employeeFilter($event)" placeholder="Filter" #input>
                    </div>
                  </div></th>
              <td mat-cell *matCellDef="let row"> {{row.referenceNo}}</td>
            </ng-container>
  
            <ng-container matColumnDef="referenceDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>   <div class="header-wrapper">
                    <div class="department-name text-start">Reference Date </div>
                    <div class="filter-input">
                      <input matInput (keyup)="employeeFilter($event)" placeholder="Filter" #input>
                    </div>
                  </div></th>
              <td mat-cell *matCellDef="let row"> {{row.referenceDate}}</td>
            </ng-container>
  
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>   <div class="header-wrapper">
                    <div class="department-name text-start"> Description </div>
                    <div class="filter-input">
                      <input matInput (keyup)="employeeFilter($event)" placeholder="Filter" #input>
                    </div>
                  </div></th>
              <td mat-cell *matCellDef="let row"> {{row.description}}</td>
            </ng-container>
  
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>   <div class="header-wrapper">
                    <div class="department-name text-start"> Action </div>
                    <div class="filter-input">
                      <input matInput (keyup)="employeeFilter($event)" placeholder="Filter" #input>
                    </div>
                  </div></th>
              <td mat-cell *matCellDef="let row">
                <a matTooltip="view" matTooltipPosition="below" (click)="viewEmployee(row.id)">
                  <mat-icon>visibility</mat-icon>
                </a>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
            <!-- Row shown when there is no matching data. -->
        
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[25, 100,150]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>
</div>
</body>
</html>