.container { 
  //  display: grid;
    grid-template-columns: 0.6fr 5.4fr 0.5fr;
    grid-template-rows: 0.1fr 1.3fr 1.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". fullform ."
      ". . .";
  }
  
  .fullform { grid-area: fullform; }
  