<div class="container">
  <!-- <div class=""> -->
  <div class="card">
    <div class="card-body bg-primary">
      <div class="row">
        <div class="col-md">
          <h3 class="text-white text-center">Price Approval</h3>
        </div>
      </div>
      <div class="card-body bg-white">
        <div class="row">
          <div class="col-md-1">
            <h3>select</h3>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>Select a filter</mat-label>
              <mat-select [(ngModel)]="selectedValue" (selectionChange)="onDropdownChange()">
                <mat-option *ngFor="let value of dropdownValues" [value]="value.id">{{ value.shortName }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <div class="table-container table-responsive mt-4">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th rowspan="2">Customer Name</th>
                    <th rowspan="2">Pricing Type</th>
                    <th rowspan="2">Department</th>
                    <th rowspan="2">Scope</th>
                    <th rowspan="2">Job Status</th>
                    <th colspan="2">With Effective</th>
                    <th colspan="2">File Count</th>
                    <th colspan="4">Staffing</th>
                    <th rowspan="2">Price ($)</th>
                    <th rowspan="2">Estimation Time (mins)</th>
                    <th rowspan="2">Additional Rate/Hour ($)</th>
                    <th rowspan="2">Status</th>
                    <th rowspan="2">Action</th>
                  </tr>
                  <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>From</th>
                    <th>To</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Designation</th>
                    <th>No. of Artist</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let customer of customers">
                    <td>{{ customer.cusShortName }}</td>
                    <td>{{ customer.pricingType }}</td>
                    <td>{{ customer.department }}</td>
                    <td>{{ customer.scopeTempDesc }}</td>
                    <td>{{ customer.jobStatusDes }}</td>
                    <td>{{ customer.weFromDate }}</td>
                    <td>{{ customer.weToDate }}</td>
                    <td>{{ customer.to }}</td>
                    <td>{{ customer.toDate }}</td>
                    <td>{{ customer.fromDate }}</td>
                    <td>{{ customer.toDate }}</td>
                    <td>{{ customer.designation }}</td>
                    <td>{{ customer.noOfArtist }}</td>
                    <td>{{ customer.price }}</td>
                    <td>{{ customer.estimationTime }}</td>
                    <td>{{ customer.ratePerHour }}</td>
                    <td *ngIf="customer.isApproved==true">Approved</td>
                    <td *ngIf="customer.isRejected==true">Rejected</td>
                    <td
                      *ngIf="(customer.isApproved==false && customer.isRejected==false)||(customer.isApproved==null && customer.isRejected==null)">
                      Pending</td>
                    <td>
                      <button class="btn btn-success actionbtn"  *ngIf="!(customer.isApproved==true || customer.isRejected==true)"
                        (click)="ApproveClick(customer.id)">Approved</button>
                      <button class="btn btn-danger actionbtn" *ngIf="!(customer.isRejected==true || customer.isApproved==true)"
                        (click)="RejectClick(customer.id)"> Rejected</button>
                    </td>
                  </tr>
                  <!-- Row shown when there is no matching data. -->
                  <ng-container *ngIf="dataSource?.data?.length === 0">
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="8">No data available</td>
                    </tr>
                  </ng-container>
                </tbody>

              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>